<div class="about-wrapper">

	<div class="about-inner visible-md-block visible-lg-block">
		<h1>SLAVE UNIT APPAREL</h1>
		<h2>ABOUT</h2>
		<div class="about-paragraph">
			<p>A good part of my teenage years was spent hanging out at videogame arcades at malls in Manila. Every once in a while I would stumble upon a broken game. It would have the terms “SLAVE UNIT ERROR” or something like that flashing on the screen. I liked the term. One day I thought that we are all slave units to a master unit in one way or the other, whether you like it or not. Since then, the idea and the term of a slave unit has been my motivation to withstand life obstacles or my basis for compromise with societal norms and the name of my band if I ever put together one, or the name of my web development company if I ever start one, </p>
			<p>
			or the name of my t-shirt company if I ever…
			</p>
		</div>
	  	<div class="about-logo" id="about-logo">
            <a href="/" alt="logo"><%= image_tag("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-big-no-border.jpg", :class => "img-responsive") %></a>
        </div>
	</div>

	<div class="about-inner-sm visible-xs-block visible-sm-block">
		<h1>SLAVE UNIT APPAREL</h1>
		<h2>ABOUT</h2>
		<div class="about-paragraph-sm">
			<p>A good part of my teenage years was spent hanging out at videogame arcades at malls in Manila. Every once in a while I would stumble upon a broken game. It would have the terms “SLAVE UNIT ERROR” or something like that flashing on the screen. I liked the term. One day I thought that we are all slave units to a master unit in one way or the other, whether you like it or not. Since then, the idea and the term of a slave unit has been my motivation to withstand life obstacles or my basis for compromise with societal norms and the name of my band if I ever put together one, or the name of my web development company if I ever start one, </p>

			<p>
			or the name of my t-shirt company if I ever…
			</p>
		</div>
		<div class="about-logo-sm">
	  		<%= image_tag("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-big-no-border.jpg", :class => "img-responsive") %>
	  	</div>
	</div>

</div><!-- end about-wrapper -->
