<div class="blog-wrapper">
	<div class="blog-inner">
	    <h1>BLOG</h1>
	    
	    <!-- Nov 19 2016 -->
	    <h2>"First Commit"</h2>   
	    <p>November 19, 2016</p>
	    <p>"First commit." is the</p>
	    
	    
    </div>
</div>