<div class="blog-wrapper">
	<div class="blog-inner">
	    <h1>BLOG</h1>
	    
	    <!-- Nov 19 2016 -->
	    <h2>Here Goes Nothing</h2>   
	    <p>December 4, 2016</p>
	    <div class="shim"></div>
	    <img class="img-responsive" src="https://s3.amazonaws.com/slaveunitapparel5/Blog/blog-1-2.jpg">
	    <div class="shim"></div>
	    <p>
	    	It was the 90s in a small Philippine town called Vigan.  I was in maybe 4th or 5th grade. While channel surfing the handful of 
	    	channels available back then, I stumbled on an arts and crafts tv show called Negosiyete.  
	    It was a play on the Tagalog words “negosyo”, which means business and “siyete” which means seven.  
	    Seven was also the channel where the show was on.  The episode was about silkscreen printing t-shirts.  
	    </p>
	    <p>
	    	Next thing I knew, I would be spending several hours a day hunched over a wooden frame with a screen, 
	    	a cut off piece of a flipflop, jars of textile paint and a bunch of old t-shirts that were smudged with crude attempts on typography.  
	    	I couldn't remember the words I was printing.  I do remember that it somewhat resembled Beavis and Butthead episode title typography.  
	    	I remember the rush I got after I first lifted up the frame and saw clean, crisp lines sitting on faded white.
	    </p>
	    <p>
	    	My stencils were cut out of old newspapers using a box cutter and were only good for single use.  The screen had to be 
	    	washed and air-dryed before paint could be flipflop-squeegee pushed through it again.  The process seemed to last forever.  
	    	To speed it up, I hung it up on our clothesline under the baking hot Philippine sun together with the freshly printed shirts.  
	    	My hands smelled like the solvent-like smell of paint.  Under my fingernails and face were permanent arches made by pigment and 
	    	smiles.
	    </p>
	    <p>
	    	I don't know how it started, but later on, I found myself coming home from school with my backpack filled up with t-shirts.  
	    	I think my going rate was about 30 or 50 pesos per shirt.  I was running a mini t-shirt printing press.  And my schoolmates were 
	    	my customers.  Working with one framed screen and paper stencils wasn't exactly efficient.  But I still was able to stick to my 
	    	overnight turnaround policy.  I sometimes didn't even do my homework.  Some days, I'd slave on up to midnight.  Still with a big 
	    	smile on my face.
	    </p>
	    <p>
	    	Then, summer break came.  I stopped getting orders because school was out.  But I had a cool 500 pesos saved up from printing.  
	    	I could almost memorize each characteristic of each brown 10, orange 20 and red 50 peso bill I had folded up and secured in a used 
	    	biscuit tin.  I knew its smell.  
	    </p>
	    <p>
	    	At the time, the earnings were just a perk of doing something that I enjoyed.  Little did I know that it was a life lesson being 
	    	taught to me early on by none other but myself.   I wasn't paying attention.  It was a key to a level of self-fulfillment that I 
	    	never realized until later on in life: find a job you love doing and you won't have to work.  Hindsight is the clearest you'll see.
	    </p>
	    <p>
	    	Soon, one hot summer afternoon, I would blow all the money on bootleg Family Computer games (that's what we called Nintendo 
	    	Entertainment Systems in the Philippines) at the town department store.  Later, I would get tired of printing.  I would get tired 
	    	of the videogames I bought.  My mind would veer farther and farther from the lesson I never learned.
	    </p>
	    <p>
	    	Come present day.  I have rekindled my fondness for transferring my humble ideas on to textile.  The itch has resurfaced and I'm 
	    	going to try to scratch it again. 
	    </p>
	    <p>
	    	Coming soon: Wave 1 of Slave Unit Apparel Co.
	    </p>
	    
	    
    </div>
</div>