/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 // Breakpoint adjust to display hamburger at 990px /
@media (max-width: 990px) {
  .navbar-nav>li {
    float: none;
  }
}


body {
	background-color: white;
}

.index-wrapper {
  background-color: black;
}

h1 {
	color: red; 
	font-family: 'Michroma', sans-serif;
	font-size: 400%;
  padding-bottom: 3%;
}

h2 {
	color: red;
	font-family: 'Michroma', sans-serif;
}

h3 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

p {
	color: gray;
	font-family: consolas, sans-serif;
  font-size: 150%;
}

h4 {
  font-family: 'Share Tech Mono', sans-serif;
}








/* NAVBAR */
#nav {
    top: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 43px;
    opacity: 0.75;
    z-index: 6
}

/* NAVBAR LOGO GLITCH */
.navhome {
    background-image: url("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-nav-glitch2.jpg");
    background-repeat: no-repeat;
}

#navhome img:hover {
    opacity: 0;
}
/*NAVBAR LOGO GLITCH*/

.navbar {
    height: 43px
}

.navhome {
    width: 20%;
    float: left;
    margin-top: 4px
}

.menu {
    width: 80%;
    display: inline-block;
}

.navbar-collapse {
    float: right;
}

.nav li a {
    margin-left: 1em;
    margin-right: 1em
}

.nav a {
    transition: color 950ms;
}

.navbar-collapse form {
  padding-top: 13px;
  padding-left: 50px;
}

/* HAMBURGER MENU DROPDOWN */
#nav > div.container-fluid.menu > div.navbar-collapse.collapse.in {
  text-align: right;
}
/* HAMBURGER MENU DROPDOWN */






/* FOOTER */
#footer-lg {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
}

.fb-like {
  float: left;
  height: 50px
}

.socialfooter {
  width: 10%;
  float: left;
  height: 50px;
  padding-left: 4px;
}

.socialfooter img {
  padding-left: 6px;
}

.footerlogo {
  width: 50%;
  height: 50px;
  display: inline-block;
  float: right;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 175%;
}

#footer-lg .footerlogoinside {
  float: right;
  padding-right: 5%;
}

#footer-lg .footerlogoinside p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 55%;
  color: lightgray;
}

/* FOOTER MOBILE */
#footer-sm {
  text-align: right;
  padding-bottom: 0;
  width: 98%;
  margin-top: 100%;
  position: fixed;
  bottom: 0;
  font-size: 50%;
  background-color: black;
}

.footerlogo-sm .footerlogoinside p {
  padding-bottom: 0;
  color: gray;
  font-family: 'Share Tech Mono', sans-serif;
}

.socialfooter-sm {
  padding-left: 0;
  padding-right: 0;
}

.footerlogo-sm {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
/* END FOOTER MOBILE */
/* FOOTER */



