// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index {
    padding-top: 5%;
    // This solves scrolling issue due to parallax.
    padding-bottom: 40em;
    overflow: scroll;
    height: 900px;
}

.product-wrapper {
    width: 90%;
    margin: auto;
    
}




.product-show {
    padding-top: 8em;
    // This solves scrolling issue due to parallax.
    overflow: scroll;
    height: 800px;
     padding-bottom: 40em;
}

.product-show p {
    color: black;
}


.product-wrapper h1 {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 600%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.product-wrapper h2 {
   font-family: 'Share Tech Mono', sans-serif; 
   margin-top: 0;
}

.index-header {
    text-align: center;
    padding-bottom: 5%;
}



.product-name-index {
    font-family: 'Share Tech Mono', sans-serif;
    color: black;
    font-size: 1.25em;

}

.product-name-show h2 {
    font-family: 'Michroma', sans-serif;
    color: red;
    font-size: 2.25em;

}

.product-paypal-button {
     padding-bottom: 1000px;
}

.product-photo {
    width: 90%;
}

.product-availability p {
    color: red;
}


