	<!-- FB COMMENT SCRIPT -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
	
	
<% if params[:id] == "1" %>

	<div class="shim"></div>
	<div class="shim"></div>

	<div class="product-description">
		<p style="color:black; font-family: consolas, sans-serif;">
		The Slave Unit Apparel School Seal Tee's embellishments include a demon which represents past experiences that build character, 
		the proverbial pen (words) and sword - both known to cut deep and sever - and the phrase “Life, too, shall pass” as a homage to mortality.  
		Inspired by Catholic school seals and labor union logos.  Please support small businesses.
		</p>
		
		<p style="font-size: 1em; font-style: italic; font-size: 1em font-family: consolas, sans-serif;">Printed on Gildan Softstyle t-shirts.  Measurements from armpit seams and top of collar to bottom of shirt: Medium width: 51cm, 
		length: 73cm.  Large:	56cm,	76cm. X-Large: 61cm, 78cm.</p>
	</div>
	
	<div class="product-availability">
		<p style="font-family: consolas, sans-serif;">Available now.  US only.*</p> 
	</div>

	<div class="product-availability">
		<p style="font-style: italic; font-size: 1em; color:black; font-family: consolas, sans-serif;">* Email us for orders from outside the US and the Hampton Roads Virginia USA area (free delivery in the Hampton Roads Virginia USA area).</p> 
	</div>	
	
	
	<div class="shim"></div>
	
	<!-- PAYPAL BUTTON --> 
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="28E3YQV2XRB2N">
<table>
<tr><td><input type="hidden" name="on0" value="The small price to pay before shipping:">The small price to pay before shipping:</td></tr><tr><td><select name="os0">
	<option value="Medium">Medium $22.92 USD</option>
	<option value="Large">Large $22.92 USD</option>
	<option value="X-Large">X-Large $22.92 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



	
	<div class="shim"></div>
	
	<!-- FB LIKE BUTTON -->
	<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.slaveunitapparel.com%2Fproducts%2F1&width=300&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="300" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	
	<div class="shim"></div>
	
	<!-- FB COMMENT BUTTON -->
	<div class="comment-button">
		<div class="fb-comments" data-href="http://www.slaveunitapparel.com/products/1" data-numposts="5"></div>
	</div>	
	

	

	
	<% else %>
	  <p></p>
	<% end %>
	






<% if params[:id] == "2" %>

	<div class="product-description">
		<p>
		The Beginning Is The End tee is a play on proportion and Leonardo da Vinci's drawing, Vitruvian Man.  
		The Beginning Is The End, zero is equal to zero.  Coming soon.
		</p>
	</div>

	<div class="product-availability">
		<p>Coming soon.</p> 
	</div>
	
	<div class="shim"></div>
	
	<!-- FB LIKE BUTTON -->
	<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.slaveunitapparel.com%2Fproducts%2F2&width=300&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="300" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

	<div class="shim"></div>
	
	<!-- FB COMMENT BUTTON -->
	<div class="comment-button">
		<div class="fb-comments" data-href="http://www.slaveunitapparel.com/products/2" data-numposts="5"></div>
	</div>
	
<% else %>
  <p></p>
<% end %>








<% if params[:id] == "3" %>

	<div class="product-description">
		<p>
			The Slave Unit Apparel Co. logo in a black background. 
		</p>
	</div>

	<div class="product-availability">
		<p>Coming soon.</p> 
	</div>

	<div class="shim"></div>

	<!-- FB LIKE BUTTON -->
	<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.slaveunitapparel.com%2Fproducts%2F3&width=300&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="300" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

	<div class="shim"></div>
	
	<!-- FB COMMENT BUTTON -->
	<div class="comment-button">
		<div class="fb-comments" data-href="http://www.slaveunitapparel.com/products/2" data-numposts="5"></div>
	</div>

<% else %>
  <p></p>
<% end %>