	<!-- FB LIKE SCRIPT -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	
	
	
	
	
	
	
	
<% if params[:id] == "1" %>

	<div class="product-description">
		<p>
		The Slave Unit Apparel School Seal tee is adorned with a demon which represents inner demons that can either weaken or strengthen, 
		a pen and a sword because both can cut deep and sever and the phrase “Life, too, shall pass” as a homage to mortality.  
		Inspired by Catholic school seals and labor union logos.
		</p>
	</div>
	
	<div class="product-availability">
		<p>Coming soon.</p> 
	</div>
	
	<div class="shim"></div>
	
	<!-- PAYPAL BUTTON 
	<form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="69ND3ZGC23NGL">
	<table>
	<tr><td><input type="hidden" name="on0" value="Select a size:">Select a size:</td></tr><tr><td><select name="os0">
		<option value="Small">Small </option>
		<option value="Medium">Medium </option>
		<option value="Large">Large </option>
	</select> </td></tr>
	</table>
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	-->
	
	<div class="shim"></div>
	
	<!-- FB LIKE BUTTON -->
	<div class="fb-like" data-href="http://www.slaveunitapparel.com/products/1" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

	<% else %>
	  <p></p>
	<% end %>
	






<% if params[:id] == "2" %>

	<div class="product-description">
		<p>
		The Beginning Is The End tee is a play on proportion and Leonardo da Vinci's drawing, Vitruvian Man.  
		The Beginning Is The End, zero is equal to zero.  Coming soon.
		</p>
	</div>

	<div class="product-availability">
		<p>Coming soon.</p> 
	</div>
	
	<div class="shim"></div>
	
	<!-- FB LIKE BUTTON -->
	<div class="fb-like" data-href="http://www.slaveunitapparel.com/products/2" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

<% else %>
  <p></p>
<% end %>








<% if params[:id] == "3" %>

	<div class="product-description">
		<p>
			The Slave Unit Apparel Co. logo in a black background. 
		</p>
	</div>

	<div class="product-availability">
		<p>Coming soon.</p> 
	</div>

	<div class="shim"></div>

	<!-- FB LIKE BUTTON -->
	<div class="fb-like" data-href="http://www.slaveunitapparel.com/products/3" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

<% else %>
  <p></p>
<% end %>