<% if params[:id] == "1" %>

	<!-- FB LIKE SCRIPT -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	

	<div class="product-description">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque imperdiet arcu eu rhoncus. Cras eros massa, euismod quis enim eget, vehicula condimentum lacus. Integer euismod venenatis arcu, sit amet porta urna consectetur id. Duis nec gravida erat. Quisque enim nisl, varius eu gravida in, volutpat non mauris. Pellentesque at tortor augue. Sed nibh mi, porttitor at aliquet in, mattis in erat. Nullam ipsum risus, rutrum sed augue at, feugiat condimentum lectus. Curabitur in lacus hendrerit erat blandit ultricies. Duis pretium vitae lectus bibendum ullamcorper. Praesent eros nulla, sodales eu rhoncus cursus, imperdiet a nisl. Vivamus placerat sed velit vitae iaculis. Aliquam commodo in est eu tincidunt. Morbi bibendum diam at diam gravida suscipit. Fusce tincidunt augue eget lacus ullamcorper venenatis.
		</p>
	</div>
	
	<div class="shim"></div>

	<form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="69ND3ZGC23NGL">
	<table>
	<tr><td><input type="hidden" name="on0" value="Select a size:">Select a size:</td></tr><tr><td><select name="os0">
		<option value="Small">Small </option>
		<option value="Medium">Medium </option>
		<option value="Large">Large </option>
	</select> </td></tr>
	</table>
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>

	<% else %>
	  <p></p>
	<% end %>
	
	<div class="shim"></div>

	<!-- FB LIKE BUTTON -->
	<div class="fb-like" data-href="https://slaveunitapparel5.herokuapp.com/products/1" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>





<% if params[:id] == "2" %>

	<div class="product-description">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque imperdiet arcu eu rhoncus. Cras eros massa, euismod quis enim eget, vehicula condimentum lacus. Integer euismod venenatis arcu, sit amet porta urna consectetur id. Duis nec gravida erat. Quisque enim nisl, varius eu gravida in, volutpat non mauris. Pellentesque at tortor augue. Sed nibh mi, porttitor at aliquet in, mattis in erat. Nullam ipsum risus, rutrum sed augue at, feugiat condimentum lectus. Curabitur in lacus hendrerit erat blandit ultricies. Duis pretium vitae lectus bibendum ullamcorper. Praesent eros nulla, sodales eu rhoncus cursus, imperdiet a nisl. Vivamus placerat sed velit vitae iaculis. Aliquam commodo in est eu tincidunt. Morbi bibendum diam at diam gravida suscipit. Fusce tincidunt augue eget lacus ullamcorper venenatis.
		</p>
	</div>

	<div class="product-availability">
		<p>Not available, yet.  Coming soon.</p> 
	</div>

<% else %>
  <p></p>
<% end %>





<% if params[:id] == "3" %>

	<div class="product-description">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque imperdiet arcu eu rhoncus. Cras eros massa, euismod quis enim eget, vehicula condimentum lacus. Integer euismod venenatis arcu, sit amet porta urna consectetur id. Duis nec gravida erat. Quisque enim nisl, varius eu gravida in, volutpat non mauris. Pellentesque at tortor augue. Sed nibh mi, porttitor at aliquet in, mattis in erat. Nullam ipsum risus, rutrum sed augue at, feugiat condimentum lectus. Curabitur in lacus hendrerit erat blandit ultricies. Duis pretium vitae lectus bibendum ullamcorper. Praesent eros nulla, sodales eu rhoncus cursus, imperdiet a nisl. Vivamus placerat sed velit vitae iaculis. Aliquam commodo in est eu tincidunt. Morbi bibendum diam at diam gravida suscipit. Fusce tincidunt augue eget lacus ullamcorper venenatis.
		</p>
	</div>

	<div class="product-availability">
		<p>Not available, yet.  Coming soon.</p> 
	</div>

<% else %>
  <p></p>
<% end %>






