<center>
    <div class="product-name-show">
<h2><%= @product.name %></h2>
</div>

<div class="product-photo">
    <%= image_tag(@product.combo_img_link, class: "img-responsive") %>
</div>
</center>



<%= render "paypal_add_button", product: @product %>