<div class="product-index">
  <div class="product-wrapper">
    
    <div class="index-header">
        <h1>SLAVE UNIT APPAREL</h1>
        <h2>WAVE I</h2>
    </div>

    <div class="row">
      <% @products.each do |product| %>
        <%= render "product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
    
  </div>
</div>

