<div class="product-index">
  <div class="product-wrapper">

<h3 class="text-center">SLAVE UNIT APPAREL WAVE 1</h3>

<div class="row">
 
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
 
</div>

</div>
</div>

